.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 530px) {
  .hide-sm {
    display: none;
  }
  .font-sm {
    font-size: 1rem !important;
  }
  .font-sm-bold {
    font-size: 1.3rem !important;
    font-weight: bold;
  }
  .font-vsm {
    font-size: .8rem !important;
  }
  .font-vsm-sm {
    font-size: .6rem !important;
  }
  .font-vsm-vsm {
    font-size: .5rem !important;
  }
}

@media only screen and (max-width: 768px) and (min-width: 531px) {
  .hide-md {
    display: none;
  }
  .font-md {
    font-size: 1.5rem !important;
  }
  .font-md-sm {
    font-size: .8rem !important;
  }
  .font-vmd {
    font-size: 1.2rem !important;
  }
}