* {
  font-family: 'Roboto';
}

iframe#webpack-dev-server-client-overlay {
  display: none !important
}

tr td:last-child {
  width: 1% !important;
  white-space: nowrap !important;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 420px) {
  * {
    font-family: Roboto, sans-serif !important;
    font-size: 0.8rem !important;
  }
}

@media only screen and (min-width: 421px) {
  * {
    font-family: Roboto, sans-serif !important;
    font-size: 0.95rem !important;
  }
}