* {
  font-family: 'Roboto';
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.scaled-480px {
  display: contents !important;
}

.scaled-logo-Header-listMenu {
  font-size: 2svw !important;
  font-weight: 500 !important;
}

.scaled-logo-Header {
  font-size: 1svw !important;
  font-weight: 500 !important;
}

.scaled-logo-Header-second {
  font-size: 1svw !important;
  font-weight: 500 !important;
}

.scaled-480px-Header {
  font-size: 1.2svw !important;
  font-weight: 500 !important;
}

.scaled-480px-Header-Content {
  font-size: 1svw !important;
  font-weight: 400 !important;
}

.scaled-480px-TableHeader {
  font-size: 1svw !important;
  font-weight: 500 !important;
}

.scaled-480px-TableContent {
  font-size: 1svw !important;
  font-weight: 400 !important;
}

.scaled-logo-TableContent {
  width: 3svw !important;
  height: 3svw !important;
}

.scaled-logo-navbar {
  font-size: 1svw !important;
  font-weight: 500 !important;
}